body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
  /* background: rgb(128, 239, 239); */
  /* background: rgb(1, 1, 37); */
  /* background: rgb(200, 172, 228); */
  font-family: Roboto, Helvetica, Arial, sans-serif;
  overflow: scroll;
  height: 100vh;
}

.background {
  /* background-color: rgb(1, 1, 37); */
  /* background: rgb(128, 239, 239); */
  background: #8590a5;
}

body::-webkit-scrollbar {
  display: none;
}

img {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  /* mix-blend-mode: multiply; */
}

.card {
  display: grid;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  /* background: radial-gradient(#7ecbff, transparent); */
  background: linear-gradient(135deg, #00d2ef, #550120);
  /* box-shadow: 10px 10px 30px rgb(115 38 67); */
  box-shadow: 20px 15px 17px 0px rgb(115 38 67);
}

.cartWrapper {
  overflow-y: scroll;
  padding: 1rem;
  height: 50vh;
  border-radius: 20px;
  box-shadow: inset 1px 1px 20px 7px rgb(115 38 67);
}

.example {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.example::-webkit-scrollbar {
  display: none;
}



.productsWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.button {
  border: none;
  outline: none;
  padding: 5px 10px;
  height: 40px;
  /* background: #00d6ff; */
  background: #f30707;
  /* color: #f30707; */
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  background: #00d6ff;
  /* background: #f3075e; */
  /* color: #59d5e0; */
  color: #f30707;
  border: 1px solid red;
}

.update-btn{
  color: #32d694;
  transition: all 0.3s ease-in-out;
}
.update-btn:hover{
  border-radius: 8px;
  border: 1px solid #32d694;
  background: rgb(26, 6, 70);
}

.delete-btn{
  color: #ef3434;
  transition: all 0.3s ease-in-out;
}
.delete-btn:hover{
  border-radius: 8px;
  border: 1px solid #ef3434;
  background: rgb(26, 6, 70);
}

.heading {
  padding: 25px 0;
}

.cartCount {
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 40px;
}

.navLink {
  text-decoration: none;
  color: #f3075e;
  margin-right: 20px;
}

.navLink:hover {
  /* color: rgb(202, 241, 253); */
  color: #00d6ff;
}

.IoHome {
  height: 1.3rem;
  width: 1.3rem;
  /* margin-top: 15px; */
  color: #f3075e
}


.FaCartPlus {
  height: 1.3rem;
  width: 1.3rem;
  /* margin: 17px -17px 0px 0px; */
  color: #f3075e
}


.cartCard {
  /* display: flex; */
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-template-columns: 0.25fr 1fr 1fr 1fr 1fr;
  align-items: center;
  /* justify-content: space-between; */
  justify-items: center;
  color: white;
  background: #fff;
  margin-bottom: 20px;
  padding: 14px;
  border-radius: 15px;
  background: linear-gradient(135deg, #00d2ef, #550120);
}

.qty {
  /* margin-top: -10px; */
  /* margin-left: 80px; */
  margin-bottom: -10px;
  margin-left: 40px;
  padding-left: 3px;
  display: flex;
  font-weight: 700;
  font-size: 1rem;
  background-color: yellow;
  color: red;
  /* color:  rgb(1, 1, 37); */
  width: 25px;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.Purchase {
  position: fixed;
  bottom: 1rem;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  /* justify-items: center; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50rem;
  color: white;
  background: #fff;
  margin-bottom: 20px;
  padding: 14px;
  border: 2px solid black;
  border-radius: 15px;
  background: linear-gradient(135deg, #00d2ef, #550120);
  /* box-shadow: 20px 15px 17px 0px rgb(115 38 67); */
  box-shadow: 20px 15px 17px 0px rgb(38, 115, 97);
}

.cartCardTable {
  width: 100%;
  /* display: flex; */
  /* display: grid; */
  /* grid-template-columns: repeat(5, 1fr); */
  /* align-items: center; */
  /* justify-content: space-between; */
  /* justify-content: center; */
  color: white;
  background: #fff;
  margin-bottom: 20px;
  padding: 14px;
  border-radius: 5px;
  background: linear-gradient(135deg, #00d2ef, #550120);
}

/*  */
.select {
  width: 200px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.select:focus {
  border-color: #0066ff;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 102, 255, 0.5);
}

/* Search Products Start */
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  height: 40px;
  transition: border-radius 0.5s ease, border 0.5s ease; 
}

.search-container:hover {
  border-radius: 25px;
  border: 2px solid #00d6ff;
}

.search-icon {
  color: #ccc;
  margin-right: 10px;
  font-size: 30px;
}

.search-input {
  border: none;
  outline: none;
  width: 100%;
  padding: 8px 0;
  font-size: 20px;
  color: #ccc;
  background-color: transparent;
}

.search-input:hover {
  color: #00d6ff;
}
/* Search Products End */




/* Products Start */
.product-main-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  height: auto;
  /* padding: 2rem 0rem 2rem 58px; */
}

.product-container {
  /* gap: 3rem; */
  display: grid;
  height: 23rem;
  width: 20rem;
  border-radius: 6px;
  /* border: 1px solid rgb(224, 215, 215); */
  /* background-color: white; */
  color: wheat;
  background: linear-gradient(135deg, #00d2ef, #550120);
  box-shadow: 20px 15px 17px 0px rgb(115 38 67);
}

.img-container {
  /* display: flex;
  align-items: center;
  justify-content: center; 
   position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.img-span {
  position: absolute;
  right: 0;
  font-size: 12px;
  font-weight: 500;
  border-radius: 15px;
  padding: 3px 10px 3px 10px;
  margin: 15px 15px 0px 0px;
  background: #EAB308;
  color: #FFFFFF;
}

.product-img {
  height: 10rem;
  width: 10rem;
  align-items: center;
}

.product-offer {
  height: 20px;
  border: 1px solid red;
}

.product-info {
  /* height: 40%;
  width: 15rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
  height: 10px;
  font-size: 15px;
  font-weight: 500;

}

.cart-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  gap: 7rem;
}

.cart-price {
  font-size: 15px;
  font-weight: 500;
  /* color: #009F7F; */
  color: #1adcb5;
}

.cart-svg {
  height: 15px;
  margin: 0px 15px 5px 0px;
}

.cart-btn {
  height: 2.5rem;
  width: 6rem;
  border-radius: 2rem;
  border: 1px solid #d7e4e1;
  font-size: 15px;
  font-weight: 500;
  color: #009F7F;
  transition: background 0.3s ease-in-out;
}

.cart-btn:hover {
  background: #009F7F;
  border: #009F7F;
  color: white;
}
/* Products End */