body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
  /* background: rgb(128, 239, 239); */
  /* background: rgb(1, 1, 37); */
  /* background: rgb(200, 172, 228); */
  font-family: Roboto, Helvetica, Arial, sans-serif;
  overflow: scroll;
  height: 100vh;
}

.background {
  /* background-color: rgb(1, 1, 37); */
  background: rgb(128, 239, 239);
}

body::-webkit-scrollbar {
  display: none;
}

img {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  /* mix-blend-mode: multiply; */
}

.card {
  display: grid;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  /* background: radial-gradient(#7ecbff, transparent); */
  background: linear-gradient(135deg, #00d2ef, #550120);
  /* box-shadow: 10px 10px 30px rgb(115 38 67); */
  box-shadow: 20px 15px 17px 0px rgb(115 38 67);
}

.cartWrapper {
  overflow-y: scroll;
  padding: 1rem;
  height: 50vh;
  border-radius: 20px;
  box-shadow: inset 1px 1px 20px 7px rgb(115 38 67);
}

.example {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.example::-webkit-scrollbar {
  display: none;
}



.productsWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.button {
  border: none;
  outline: none;
  padding: 5px 10px;
  height: 40px;
  /* background: #00d6ff; */
  background: #f30707;
  /* color: #f30707; */
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background: #00d6ff;
  /* background: #f3075e; */
  /* color: #59d5e0; */
  color: #f30707;
  border: 1px solid red;
}

.heading {
  padding: 25px 0;
}

.cartCount {
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 40px;
}

.navLink {
  text-decoration: none;
  color: #f3075e;
  margin-right: 20px;
}

.navLink:hover {
  /* color: rgb(202, 241, 253); */
  color: #00d6ff;
}

.IoHome {
  height: 30px;
  width: 30px;
  margin-top: 15px;
  color: #f3075e
}


.FaCartPlus {
  height: 30px;
  width: 30px;
  margin: 17px -17px 0px 0px;
  color: #f3075e
}


.cartCard {
  /* display: flex; */
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-template-columns: 0.25fr 1fr 1fr 1fr 1fr;
  align-items: center;
  /* justify-content: space-between; */
  justify-items: center;
  color: white;
  background: #fff;
  margin-bottom: 20px;
  padding: 14px;
  border-radius: 15px;
  background: linear-gradient(135deg, #00d2ef, #550120);
}

.qty {
  margin-top: -10px;
  margin-bottom: -14px;
  margin-left: 80px;
  display: flex;
  font-weight: 700;
  font-size: 1.5rem;
  background-color: yellow;
  color: red;
  /* color:  rgb(1, 1, 37); */
  width: 35%;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.Purchase {
  position: fixed;
  bottom: 1rem;
  display: grid;
  width: 70%;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  color: white;
  background: #fff;
  margin-bottom: 20px;
  padding: 14px;
  border: 2px solid black;
  border-radius: 15px;
  background: linear-gradient(135deg, #00d2ef, #550120);
  /* box-shadow: 20px 15px 17px 0px rgb(115 38 67); */
  box-shadow: 20px 15px 17px 0px rgb(38, 115, 97);
}

.cartCardTable {
  width: 100%;
  /* display: flex; */
  /* display: grid; */
  /* grid-template-columns: repeat(5, 1fr); */
  /* align-items: center; */
  /* justify-content: space-between; */
  /* justify-content: center; */
  color: white;
  background: #fff;
  margin-bottom: 20px;
  padding: 14px;
  border-radius: 5px;
  background: linear-gradient(135deg, #00d2ef, #550120);
}

tr {
  display: flex;
  justify-content: space-around;
  width: 100%;
}